# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Databases
*.db
*.sqlite3
*.db-shm
*.db-wal

# Frontend Node.js
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# Mac
.DS_Store

# Virtual Environments
venv/
.env/
.venv/
